
body {
  background-color: #040F16;

}

h1 {
  color: #01BAEF;
}

.App {
  margin-top: 150px;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.piano-container {
  display: flex;
  top:0;
  right:0;
  align-items: center;
  justify-content: center;
  border: solid black 1px;
}
.natural-key, 
.accidental-key {
  display: inline-block;
  align-self: flex-end;
  text-align: center;
}

.natural-key {
  border-right:solid black 1px;
  width:60px;
  height: 180px;
  background-color: white;
}

.natural-key:last-of-type {
  border: 0;
}

.piano-accidental-key-wrapper {
  position: relative;
  display: flex;
  width: 0;
}

.accidental-key {
  position: absolute;
  cursor: pointer;
  background: #444;
  transform: translateX(-50%);
  width: 30px;
  height: 90px;
  bottom: -11px;
  border-radius: 0 0 3px 3px;
  border : 1px solid #444;
  border-top: none;
  padding: 5px;
  outline: none;
  color: #dbdbdd;

}

.scale-selector {
  margin-top: 12px;
}

.scale-button {
  background-color: white;
  margin: 8px;
  border-radius: 6px;
}

.highlight {
  background-color: #01BAEF;
  color: black;
}

.root {
  background-color: #B80C09;
  color: white;

}